/* GLOBAL COLORS */
$black: #101010;
$grey-10: #131214;
$grey-50: #474747;
$grey-80: #cccccc;
$white: #ffffff;

$green: #6dd85b;
$red: #ef6060;
$orange: #e89641;
$blue: #1291ff;
$violet: #b523ff;

/* Tokens */

$color-background-dark: $grey-10;
$color-background-darker: $black;

$color-border-dark: $grey-50;
$color-border-darker: $black;

$color-font: $white;
$color-font--hover: $grey-80;
$color-font-darker: $black;
$color-font-dark: $grey-50;
