/* GLOBAL COLORS */
$deep-black: #020202;
//TODO: repalce with black
$clean-black: #080808;
$black: #101010;
$grey-10: #131214;
$grey-20: #202020;
$grey-40: #313131;
$grey-50: #474747;
$grey-60: #686868;
$grey-70: #999999;
$grey-80: #cccccc;
$white: #ffffff;

$green: #6dd85b;
$red: #ef6060;
$orange: #e89641;
$blue: #1291ff;
$violet: #b523ff;
$yellow: #fff349;
$brown: #904223;

$colors: 
    ("green",   $green),
    ("red",     $red),
    ("orange",  $orange),
    ("blue",    $blue),
    ("violet",  $violet),
    ("yellow",  $yellow),
    ("brown",   $brown),
    ("white",   $white),
    ("black",   $black),
    ("grey",    $grey-50);

$green--hover: #5bb14b;
$red--hover: #ca5252;
$blue--hover: #187acf;
$yellow--hover: #ddd33f;

/* Tokens */

$color-background-light--hover: $grey-40;
$color-background-light: $grey-80;
$color-background-dark: $grey-10;
$color-background-darker: $black;

$color-border-dark: $grey-50;
$color-border-darker: $black;

$color-font: $white;
$color-font--hover: $grey-80;
$color-font-darker: $black;
$color-font-dark: $grey-50;
$color-font-secondary: $grey-60;
