/* GLOBAL COLORS */
$black: #101010;
$grey-50: #474747;
$grey-10: #131214;
$white: #ffffff;
$green: #6dd85b;
$red: #ef6060;


/* Tokens */

$color-background-dark: $grey-10;
$color-background-darker: $black;

$color-border-dark: $grey-50;
$color-border-darker: $black;

$color-font: $white;
$color-font-darker: $black;
$color-font-dark: $grey-50;
