html, body {
  margin: 0;
  padding: 0;
  color: $color-font;
}

h1, h2, h3, h4, h5, h6, hr {
  margin: 0;
}

div, button, span, section, main {
  box-sizing: border-box;
}

hr {
  border: 0;
}

/* HELPER CLASSES */

.margin-horizontal {
  &--large {
    margin-left: 80px;
    margin-right: 80px;
  }
}

.border {
  &-left {
    &--dark {
      border-left: 1px solid $color-border-dark;
    }
  }
}

.color {
  &--red {
    color: $red;
  }

  &--white {
    color: $white;
  }

  &--green {
    color: $green;
  }

  &--blue {
    color: $blue;
  }

  &--violet {
    color: $violet;
  }
}

.background {
  &--white {
    background: $white;
  }

  &--green {
    background: $green;
  }

  &--orange {
    background: $orange;
  }

  &--red {
    background: $red;
  }
}
