html, body {
  margin: 0;
  padding: 0;
  color: $color-font;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, hr {
  margin: 0;
}

div, button, span, section, main {
  box-sizing: border-box;
}

hr {
  border: 0;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: $grey-50;
}

::-webkit-scrollbar-thumb:hover {
  background: $grey-40;
}

/* HELPER CLASSES */

.border {
  &-left {
    &--dark {
      border-left: 1px solid $color-border-dark;
    }
  }
}


@each $color in $colors {
  .color--#{nth($color,1)} {
    color: #{nth($color,2)};
  }

  .background--#{nth($color,1)} {
    background: #{nth($color,2)};
  }
}

.background {
  &--empty {
    border: 1px solid $color-border-dark;
  }

  &--light {
    background: $grey-80;

    &.hoverable:hover {
      background: $grey-70;
    }
  }
}

.clickable {
  cursor: pointer;
}

/* GAME HELP COMPONENTS */
.game-help {
  section {
    text-align: start;
    margin-top: 2rem;
    font-size: 1rem;
    h2 {
      font-size: 2rem;
      padding: 0.5rem 0;
    }
    h3 {
      font-size: 1.5rem;
      padding: 0.5rem 0;
    }
  }
}
