html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, hr {
  margin: 0;
}

div, button, span, section, main {
  box-sizing: border-box;
}

hr {
  border: 0;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  @include themed() {
    background: t('border');
  }
}

::-webkit-scrollbar-thumb:hover {
  @include themed() {
    background: t('border-hover');
  }
}

/* HELPER CLASSES */

.border {
  &-left {
    &--dark {
      border-left: 1px solid $color-border-dark;
    }
  }
}

.icon-button {
  @include themed() {
    color: t('text');
  }
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;

  &:hover {
    @include themed() {
      color: t('text-hover');
    }
  }

  &.slide-left:hover svg {
    transform: translate3d(-0.2rem, 0, 0);
  }

  &.rotate-in:hover svg {
    transform: rotate3d(0,0,1,20deg);
  }

  svg {
    overflow: visible;
    transition: all ease-in-out 0.2s;
  }
}


@each $color in $colors {
  .color--#{nth($color,1)} {
    color: #{nth($color,2)};
  }

  .background--#{nth($color,1)} {
    background: #{nth($color,2)};
  }
}

.background {
  &--empty {
    border: 1px solid $color-border-dark;
  }

  &--light {
    background: $grey-80;

    &.hoverable:hover {
      background: $grey-70;
    }
  }
}

.clickable {
  cursor: pointer;
}

.m1-right {
  margin-right: 1rem;
}

.m02-right {
  margin-right: 0.2rem;
}

.m1-left {
  margin-left: 1rem;
}

/* GAME HELP COMPONENTS */
.game-help {
  section {
    text-align: start;
    margin-top: 2rem;
    font-size: 1rem;
    h2 {
      font-size: 2rem;
      padding: 0.5rem 0;
    }
    h3 {
      font-size: 1.5rem;
      padding: 0.5rem 0;
    }
  }
}

@keyframes growAndShrink {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
